body {
    margin: 0px;
    background-color: lavender;
    color:darkslategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    list-style-type: none;
}

hr {
    border-style: solid;
}

nav {
    background-color:hotpink;

}

.black-border {
    border: 5px dotted black;
}

main {
    background-color:lavender;
}
.h1font {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    color:lightseagreen;
}
#ondertitel {
    color: rgb(0, 99, 160);
}

.footer-color {
    background-color: lemonchiffon;
}